<article>
  <div class="row">
    <div class="col text-center">
      <h1>
        Grid Engine 8
      </h1>
      <p>
        Grid is a game engine for Lua built by
        <a href="http://www.planimeter.org/">Planimeter</a>.<br>It was
        designed for our fantasy MMORPG, Vertex Adventure.
      </p>
      <p>
        <a href="https://github.com/Planimeter/grid-sdk">Fork me on GitHub</a>
      </p>
      <img
        class="d-block mx-auto"
        src="images/grid_engine.png"
        alt="Grid Engine"
        width="100%"
        style="max-width: 1392px; max-height: 854px">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2>
        Examples
      </h2>
      <p>
        Grid lets you jump straight into game logic.
      </p>
      <p>
        <h3>
          Making a HUD element
        </h3>
        <pre><code>class "gui.hudhealth" ( "gui.panel" )

local hudhealth = gui.hudhealth

function hudhealth:draw()
	love.graphics.print( localplayer:getHealth() )
	gui.panel.draw( self )
end</code></pre>
      </p>
      <p>
        <h3>
          Making an entity
        </h3>
        <pre><code>class "npc_monster" ( "npc" )

function npc_monster:npc_monster()
	npc.npc( self )
	self:setSprite( "images/monster.png" )
end

entities.linkToClassname( npc_monster, "npc_monster" )</code></pre>
      </p>
      <p>
        <h3>
          Playing a sound from an entity
        </h3>
        <pre><code>function npc_monster:onTakeDamage()
	npc.onTakeDamage( self )
	self:emitSound( "sounds/cry.wav" )
end</code></pre>
      </p>
    </div>
  </div>
</article>
