main {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

aside {
  margin: 0 0.5in calc(0.5in - 24px);
}

@media (min-width: 544px) {
  aside {
    margin: 0 1in calc(1in - 24px);
  }
}

.logos {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.logos .logo {
  margin-bottom: 24px;
}

.logos .logo:not(:last-child) {
  margin-right: 24px;
}

.bootstrap-expo {
  color: #563d7c;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: 300;
}
