main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

aside {
  margin: 0 0.5in 0.5in;
}

@media (min-width: 544px) {
  aside {
    margin: 0 1in 1in;
  }
}

.logos {
  display: flex;
  align-items: center;
}

.logos .logo:not(:last-child) {
  margin-right: 24px;
}

.bootstrap-expo {
  color: #563d7c;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: 300;
}
