aside li {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

img {
  max-width: 100%;
}

.badge-client {
  background-color: rgba(168, 168, 123, 1);
  color: #fff;
}

.badge-server {
  background-color: rgba(123, 158, 168, 1);
  color: #fff;
}

.badge-shared {
  background-color: rgba(132, 168, 123, 1);
  color: #fff;
}

.table {
  table-layout: fixed;
}

p:empty {
  display: none;
}
