.list-unstyled {
  list-style-type: none;
  padding-left: 0;
}

.card {
  position: relative;
  display: block;
  margin-bottom: .75em;
  border: 1px solid rgba(240, 246, 248, .07);
  border-radius: .25em;
}

.card-block {
  padding: 0 1.25em;
}
