html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.row {
  margin-right: -1em;
  margin-left: -1em;
}

.row::after {
  display: table;
  clear: both;
  content: '';
}

[class^='col-'],
[class*=' col-'] {
  padding-right: 1em;
  padding-left: 1em;
}

[class^='col-xs-'],
[class*=' col-xs-'] {
  float: left;
}

.col-xs-12 {
  width: 100%;
}

@media (min-width: 768px) {
  [class^='col-md-'],
  [class*=' col-md-'] {
    float: left;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-9 {
    width: 75%;
  }
}

@media (min-width: 1200px) {
  [class^='col-xl-'],
  [class*=' col-xl-'] {
    float: left;
  }

  .col-xl-2 {
    width: 16.666667%;
  }

  .col-xl-10 {
    width: 83.333333%;
  }
}
