.row {
  display: flex;
  margin-right: -.9375em;
  margin-left: -.9375em;
  flex-wrap: wrap;
}

[class^='col-'],
[class*=' col-'] {
  position: relative;
  min-height: 1px;
  padding-right: .9375em;
  padding-left: .9375em;
}

.col-xs-12 {
  flex: 0 0 100%;
}

@media (min-width: 768px) {
  .col-md-3 {
    flex: 0 0 25%;
  }

  .col-md-6 {
    flex: 0 0 50%;
  }
}
