html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.row {
  display: flex;
  margin-right: -.9375em;
  margin-left: -.9375em;
  flex-wrap: wrap;
}

[class^='col-'],
[class*=' col-'] {
  position: relative;
  min-height: 1px;
  padding-right: .9375em;
  padding-left: .9375em;
}

.col-xs-12 {
  flex: 100%;
}

@media (min-width: 768px) {
  .col-md-3 {
    flex: 25%;
  }

  .col-md-6 {
    flex: 50%;
  }

  .col-md-9 {
    flex: 75%;
  }
}

@media (min-width: 992px) {
  .col-lg-2 {
    flex: 16.666667%;
  }

  .col-lg-10 {
    flex: 83.333333%;
  }
}
