nav ol {
  border-top-style: solid;
  border-top-width: 1px;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  padding-top: 18px;
}

nav li {
  display: inline-block;
}

nav a {
  border-top-style: solid;
  border-top-width: 1px;
  padding-top: 18px;
}
