body {
  background-color: #fafafa;
  color: #121212;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
  font-weight: 100;
}

a {
  color: #a18c6b;
}

header > a {
  display: inline-block;
  margin-bottom: 0.5in;
}

nav ol {
  border-color: rgba(240, 246, 248, .07);
}

nav li.active {
  border-color: rgba(155, 140, 103, 1);
}

h1,
h2,
h3 {
  font-weight: 300;
}
