body {
  background-color: rgba(31, 35, 36, 1);
  color: rgba(240, 246, 248, 1);
  font-family: sans-serif;
}

a {
  color: rgba(155, 140, 103, 1);
}

header img {
  margin-bottom: 36px;
}

nav ol {
  border-color: rgba(240, 246, 248, .07);
}

nav a {
  border-color: rgba(155, 140, 103, 1):
}
